* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
}

/* creates the two sections of the site */
#cover {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: 1fr;
  align-items: end;
  height: 100vh;
  background: #455179;
}

#passage {
  margin: 2.5rem;
}

/* creates the various buildings on the cover */

#sky {
  grid-column: 6/15;
  grid-row: -1/1;
  height: 100vh;
  background: #455179;
  z-index: 1;
}

#yellow-building {
  grid-column: 1/6;
  grid-row: -1/1;
  height: 100vh;
  background: #f5be2c;
  z-index: 2;
}

#yellow-building > div {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(auto-fit, 0.75rem);
    grid-column-gap: 0.5rem;
    grid-row-gap: 1.375rem;
    padding: .875rem .4375rem;
}

#yellow-building--1 {
    height: 24vh;
}

#black-building {
  grid-column: 9/15;
  grid-row-start: 1;
  height: 83vh;
  background: #241721;
  z-index: 3;
}

#red-building {
  grid-column: 4/10;
  grid-row-start: 1;
  height: 70vh;
  background: #912026;
  z-index: 4;
}

#green-building {
  grid-column: 1/5;
  grid-row-start: 1;
  height: 35vh;
  background: #6f6842;
  z-index: 5;
}

#cream-building {
  grid-column: 13/15;
  grid-row-start: 1;
  height: 28vh;
  background: #f8c782;
  z-index: 6;
}

#black-red-building {
  grid-column: 7/13;
  grid-row-start: 1;
  height: 17vh;
  background: #19111d;
  z-index: 6;
}

/* creates the windows on the building */

.black-window {
    background: #241721; 
}