* {
    box-sizing: border-box;
  }

  html {
      font-size: 16px;
  }

  body {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 0;
  }

  #cover {
      height: 100vh;
      background: #455179;
  }

  #passage {
      margin: 2.5rem;
  }